.left-nav {
  .left-nav-header {
    height: 80px;
    //display: flex;
    align-items: center;
    background-color: #3ba0e9;

    h1 {
      color: white;
      font-size: 20px;
      margin-bottom: 0;
      text-align: center;
    }
  }

}